<!-- Blog Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for post in site.posts %}
            <div class="col-md-8 col-md-offset-2">
                <!-- First Blog Post -->
                <h2>
                    <a href="#">{{ post.client }}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> {{ post.project-date }}</p>
                <hr>
                <img class="img-responsive" src="https://mattdalesio.files.wordpress.com/2016/04/geojsonio-psugolf-min.png" height="300" width="900" alt="">
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore
                    nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis
                    rerum.</p>
                <a class="btn btn-primary" href="#">Read More <i class="fa fa-chevron-circle-right"></i></span></a>

                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</section>