    <!-- Profile Grid Section -->
    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Profile</h2>
                    <hr class="star-primary user">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-justify">{{ site.profile }}</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://1drv.ms/24YuHXG" target="_blank" class="btn btn-lg btn-outline-dark">
                        <i class="fa fa-download"></i> Resume
                    </a>
                    <a href="https://www.linkedin.com/in/matt-dalesio-9350a042" target="_blank" class="btn btn-lg btn-outline-dark">
                        <i class="fa fa-linkedin"></i> Linkedin
                    </a>
                </div>
            </div>
    </section>