    <!-- Timeline Grid Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Timeline</h2>
                    <hr class="star-primary calendar">
                </div>
            </div>
            <div class="row">
                <section id="cd-timeline" class="cd-container">
                                        <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-psu">
                            <i class="fa fa-briefcase fa-lg"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2>Database Specialist (BI)</h2>
                            <p>I am currently working to provide Outreach Analytics and Reporting, Marketing Research, and others within Outreach and Online Education the latest and most accurate applicant, course, enrollment, and student data for reporting and research purposes.</p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">June 2016 - Present</span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-psu">
                            <i class="fa fa-briefcase fa-lg"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2>Software / Database Developer</h2>
                            <p>Having had an interest in the collection and analysis of data for some time I decided to pivot in my career and accept a position for the Research and Development department at AccuWeather Inc. where I helped to deliver severe weather alerts to millions of people all over the world by integrating public and private sources of weather data</p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">Feb 2014 - June 2016</span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-psu">
                            <i class="fa fa-briefcase fa-lg"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2>Research and Development Engineer</h2>
                            <p>Building upon my experience as an ECAD Designer I was promoted to a Research and Development Engineer in the Undersea Weapons Office (UWO) where I contributed to the design, development, and testing of electronic systems for underwater autonomous vehicles (UAVs)</p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">Jan 2010 - Feb 2014</span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-psu">
                            <i class="fa fa-briefcase fa-lg"></i>
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2>ECAD Designer</h2>
                            <p>Using the electronic product design skills acquired during my undergraduate education I began my career as an Electronic CAD (ECAD) Designer for the Drafting and Design Department at the PSU Applied Research Laboratory where I created schematics, performed PCB layout, and created assembly documents.</p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">Jan 2009 - Jan 2010</span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-psu">
                            <i class="fa fa-university fa-lg"></i>
                            <!--  <img src="vertical-timeline/img/cd-icon-picture.svg" alt="Picture">-->
                        </div> <!-- cd-timeline-img -->
                        <div class="cd-timeline-content">
                            <h2>B.S. Electronics Engineering Technology</h2>
                            <p>B.S. Electronics Engineering Technology
I completed my undergraduate education at the Pennsylvania College of Technology. The Electronics Engineering Technology program provided me with a balanced education of theoretical concepts and practical hands-on applications. During my senior year I developed an interest in wireless data acquisition and sensing systems.</p>
                            <!--<a href="#0" class="cd-read-more">Read more</a>-->
                            <span class="cd-date">Aug 2003 - Dec 2008</span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->
                </section> <!-- cd-timeline -->
            </div>
        </div>
    </section