---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";
// Styling for the team section
.team-member {
    margin-bottom: 50px;
    text-align: center;
    img {
      width: 225px;
      height: 225px;
      border: 7px solid $white;
    }
    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
    }
    p {
      margin-top: 0;
    }
  }

  /*---------- star rating ----------*/
%flex-display {
  display: flex;
}
.star-rating {
  @extend %flex-display;
  align-items: center;
  font-size: 1.5em;
  justify-content: center;
  margin-top: 50px;
}
.back-stars {
  @extend %flex-display;
  color: #bb5252;
  position: relative;
  text-shadow: 4px 4px 10px #843a3a;
}
.front-stars {
  @extend %flex-display;
  color: #FFBC0B;
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 2px 5px #d29b09;
  top: 0;
}