
#blog hr.book:after, #profile hr.user:after, #timeline hr.calendar:after, #contact hr.envelope:after {
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}


#blog hr.book:after{content: "\f02d";}
#profile hr.user:after{content: "\f007";}
#timeline hr.calendar:after{content: "\f073"; background-color: #e9f0f5;}
#contact hr.envelope:after {content: "\f0e0"; }


{% include css/bootstrap/bootstrap.min.css %}
{% include css/timeline/style.css %}
{% include css/freelancer/freelancer.css %}

hr.code:after{content: "\f1c0"; background-color: #4298b8;}
#blog .container{
    padding-top: 50px;
}

.btn-outline-dark {
    margin-top: 15px;
   /* border: solid 2px #fff;*/
   border: solid 2px #2c3e50;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active {
   /* border: solid 2px #fff;*/
    border: solid 2px #2c3e50;
   /* color: #18bc9c;*/
   color: white;/*#4298b8;*/
   /* background: #fff;*/
   background: #2c3e50;
}

#profile a {
    outline: 0;
    color: #2c3e50;
}

#profile a:hover,
#profile a:focus,
#profile a:active,
#profile a.active {
    outline: 0;
    color: white;
}

